* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size:16px;
  color:#333;
  line-height:1.5;
  padding: 10px;
  margin: 150px;
}
.banner {
  background-image: url('../images/logo_bg_second.jpeg');
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 32px;
}

.banner > p {
  color: white;
  padding: 10px;
  }

 /* The navbar container */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 35%;

  padding-left: 20px;
  padding-right: 0px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/*form.example button {*/
/*  float: left;*/
/*  width: 20%;*/
/*  padding: 10px;*/
/*  background: #2196F3;*/
/*  color: white;*/
/*  font-size: 17px;*/
/*  border: 1px solid grey;*/
/*  border-left: none;*/
/*  cursor: pointer;*/
/*}*/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
ul.errorlist{
color: red;
font-size:0.8rem;
margin:0;
padding:0;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

.required label:after{content: "*"}