{% extends 'blog/base.html' %}
{% load static %}

<head>
   {% block title %} O mnie {% endblock %}
</head>

{% block main_content %}

<div class="card">
   <h3>O MNIE</h3>

   <div class="about_me">

       <img class="about_me_img" src="{% static 'blog/images/about_me.png' %}" alt='Zdjecie'>


      <h3>Aneta Adaszyńska</h3>

      <p> Jestem pracującą mamą nastolatka wychowującą go samodzielnie. Wiem jakim wyzwaniem jest łączenie życia rodzinnego z zawodowym . Jak trudno w codziennym pędzie być uważnym dla siebie i rodziny.<br/>
      Ale jest to możliwe. Mi się udało – nie udało – zrobiłam to! Zaczęłam myśleć o sobie.<br/><br/>

      Zaczęłam dbać o siebie, brać odpowiedzialność za własny dobrostan. Uzmysłowiłam sobie i komunikuję innym swoje potrzeby. I tego uczę również swojego syna. <br/><br/>
      Zawsze pasjonowały mnie relacje międzyludzkie a szczególnie te w rodzinie. Kiedy zostałam mamą odkrywam jaką radością i ciężką pracą jest wychowanie dziecka.<br/><br/>

      Chcę pomagać innym rodzicom cieszyć się rodzicielstwem, zrozumieć potrzeby ich dzieci.</p>

   </div>

   <div>
      <ul>
         <li> Jestem certyfikowanym trenerem Familylab Polska –  fundacji propagującej wartości Jespera Juula</li>
         <li>Jestem mediatorem</li>
         <li> Prowadzę wykłady dla młodzieży</li>
         <li> Pracowałam kilkanaście lat dla globalnych korporacji zarządzając zespołami i markami.</li>
      </ul>

   </div>

   <div>
      <p> <a href="{% url 'contact' %}"> Skontaktuj sie ze mną </a></p>
   </div>

   {% endblock %}

</div>
</body>

