{% extends 'blog/base.html' %}

<head>
   {% block title %} Strona główna {% endblock %}
</head>
<body>
{% block main_content %}

<div class="row">
  <div class="leftcolumn">

    <div class="card">
    <h3>BLOG</h3>

    <p>
    {% for blogpost in object_list %}
            <h5> {{ blogpost.creation_date }}</h5>
            <h2> <a href="{% url 'blogpost_detail' blogpost.pk %}"> {{ blogpost.title }} </a></h2>
            <p> {{ blogpost.content }} </p>

            {% with blogpost.comments.count as total_comments %}
            <h4>   Liczba komentarzy: {{ total_comments }}   </h4>
            {% endwith %}
            <br/>
    {% endfor %}
    </p>
      </div>
    </div>
</div>
<div class="card"></div>

<div class="rightcolumn">
    <div class="card">
    <form>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <input name="q_s" type="text" placeholder="Szukaj...">
        <button title="Search"><i class="fa fa-search"></i></button>
        <a href="{% url 'main_page' %}" ></a>

    </form>

</div>
    <div class="card">
      <h4>OSTATNIE WPISY</h4>
        <p> {% for blogpost in object_list %}

            <h4> <a href="{% url 'blogpost_detail' blogpost.pk %}"> {{ blogpost.title }} </a></h4>

            {% endfor %}
        </p>
    </div>
    <div class="card">
{% endblock %}

</body>




